@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: rgb(61, 67, 169);
    /* Img from https://www.pexels.com/@pavel-danilyuk/ */
    background: url(./img/tasks.jpg) no-repeat center center/ cover;
    color: #fff;
    flex-direction: column;
}

#add-task-container {
    width: 350px;
    padding: 16px 8px;
    background-color: #6b340caa;
    border-radius: 16px;
    box-shadow: 0 0 3px rgb(42, 42, 42);
    display: flex;
    margin-bottom: 16px;
}

input {
    flex: 5;
    margin-right: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px;
    border: none;
}

input:focus {
    outline: none;
}

#add-task {
    flex: 1;
    transition: 0.3s;
    font-size: 1.4rem;
    padding: 8px;
    color: #582a0a;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}

#add-task:hover, .task button:hover {
    background-color: #421f07;
    color: #fff;
}

/* Styling added tasks */
.task {
    width: 350px;
    background-color: #6b340cc1;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 0 3px rgb(42, 42, 42);
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 8px;
    font-weight: 600;
    font-size: 1.1rem;
}

.task button {
    flex: 1;
    border-radius: 8px;
    border: none;
    color: #582a0a;
    background-color: #fff;
    cursor: pointer;
}

.task .checkTask {
    margin-right: 8px;
    font-size: 1.4rem;
}

.task .deleteTask {
    font-size: 1.2rem;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
    background-color: #6b340c6d;
    border-radius: 4px;
}

#github-name {
    font-weight: bold;
    color: #fff;
}